[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "grub2"]
	path = grub2
	url = https://github.com/rhboot/grub2.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "xv6"]
	path = xv6
	url = https://github.com/mit-pdos/xv6-public.git
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
